extends layout

block content
	include navbar
	section.container
		include header
		div.item
			form.form(method="POST" action="/actualizar/#{data[0].acuerdo_id}")
				fieldset
					div.container.p1
						label.item.i-b.v-top.ph3.p_25.right(for="acuerdo_id") IMDB id:
						input.item.i-b.v-top.ph9.p_25#id(type="text", name="id", value="#{data[0].acuerdo_id}", disabled, required)
						input#acuerdo_id(type="hidden", name="acuerdo_id", value="#{data[0].acuerdo_id}", required)
					div.container.p1
						label.item.i-b.v-top.ph3.p_25.right(for="nro_acuerdo") Numero de acuerdo:
						input.item.i-b.v-top.ph9.p_25#nacuerdo(type="text", name="nro_acuerdo", required)
					div.container.p1
						label.item.i-b.v-top.ph3.p_25.right(for="fecha") Fecha:
						input.item.i-b.v-top.ph9.p_25#fecha(type="date", name="fecha", required)
					div.container.p1
						label.item.i-b.v-top.ph3.p_25.right(for="detalle") DETALLE:
						textarea(name="detalle", maxlength="255", required)
					div.container.p1
						input.item.ph4.mauto.button.edit(type="submit", value="Editar")
						input(type="hidden", name="_method", value="PUT")
	include footer