script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
script(src="/bootstrap/js/bootstrap.js")
script(src="/js/otra.js")
//- script(src="/js/ConcurrentThreadCompiler+Http.js")
script.
    var d= document.querySelector("#disables"),
        o= document.querySelector("#op"),
        e= document.querySelector("#nums"),
        s= document.querySelector("#searchlista")
    myfun(d.value,o.value,e.value,s.value)