nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.text-light.mb-3
  a.navbar-brand(href='#') RAM
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link.text-light(href='/')
          | Inicio 
      li.nav-item
        a.nav-link.text-light(href='/search') Buscar
      li.nav-item
        a.nav-link.text-light.Ag(href='/Agregar' hidden) Agregar
      li.nav-item
        div.input-group-prepend
          select.dropdown.btn.btn-secondary.dropdown-toggle.selectE(name="S_E", id="S_E",)
            option.dropdown-item.text-light(value="") Opciones para eliminiar
            option.dropdown-item.text-light(value="Habilitar") Habilitar eliminar
            option.dropdown-item.text-light(value="Deshabilitar")
              a(href="/") Deshabilitar eliminar
            option.dropdown-item.text-light(value="Varios") Eliminar Varios
      input#disables.text-light(type="hidden",value="#{disables}")
      input#op.text-light(type="hidden",value="#{op}")
div.d-none
  //- -var uno= disables
  //- -uno(uno)